/* Global Styles */

/* Fonts */

/* Source Sans Pro */
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 400;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}
@font-face {
    font-family: "Source Sans Pro";
	font-style: italic;
    font-weight: 400;
    font-display: swap;
	src: url('../fonts/SourceSansPro-It.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 900;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Black.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 700;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Bold.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 600;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Semibold.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 300;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Light.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 200;
    font-display: swap;
	src: url('../fonts/SourceSansPro-ExtraLight.otf.woff2') format('woff2');
}

/* IBM Plex Copyright © 2017 IBM Corp. with Reserved Font Name "Plex"
This Font Software is licensed under the SIL Open Font License, Version 1.1. */
@font-face {
	font-family: "IBM Plex";
	font-style: normal;
    font-weight: 500;
    font-display: swap;
	src: url('../fonts/IBMPlexMono-Medium.otf') format('opentype');
}

:root {
    --black: #080808;
    --grey: #D0D0D0;
    --white: #FFFFFF;
    --vice-pink: #F890E7;
    --vice-blue: #0BD3D3; 
    --header-size: 50px;
    --dark-text: #282828;
    --link-background: rgba(248, 144, 231, 0.3); /* this is just vice pink in rgb */
    --link-background-hover: rgba(11, 211, 211, 0.4); /* This is just vice blue in rgb */
}

/* defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    line-height: 1.4;
    color: var(--dark-text);
}
a {
    text-decoration: none;
    background-color: var(--link-background);
    transition: all 1.2s ease;
    color: var(--dark-text);
}
a:hover {
    background-color: var(--link-background-hover);
}
code, pre {
    background-color: #F6F8FA;
    font-family: "IBM Plex", monospace;
    color: var(--dark-text);
    font-size: 18px;
}
code { 
    padding: 0.3em;
}
pre {
    padding: 1em 2em;
    margin: 1em 0;
}
pre code {
    padding: 0;
}

/* Document */

h1 {
    font-weight: 300;
    font-size: 2.2em;
    line-height: 0.8;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.5em;
    line-height: 0.8;
}
h3 {
    font-size: 1em;
}
h2, h3 {
    margin-bottom: 0.25em;
}
ul, ol {
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 0.95em;
    line-height: 1.3;
}
ol li {
    padding-left: 0.5em;
}
p {
    margin-bottom: 0.5em;
}
main {
    padding-top: var(--header-size);
}
.heavy {
    font-weight: 900;
}
.container {
    padding: 10vw 5vw;

    /* hack for making jump links work without altering html */
    border-top: 50px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

/* Responsiveness */

@media(min-width: 500px) {
    body {
        font-size: 23px;
    }
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.2em;
    }
    .text-div {
        display: inline-block;
        width: auto;
    }
    .container {
        padding: 3vw 10vw 10vw 10vw;
    }
}
