.about-text-container {
    display: grid;
    grid-gap: 3em;
}

@media(min-width: 1000px) {
    .about-text-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 4em;
    }
}

#join {
    /* hack for making jump links work without altering html */
    border-top: 80px solid transparent;
    margin-top: -80px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.profiles {
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}