.blog-section h3 {
    margin-bottom: 0;
    margin-top: 1em;
    font-size: 23px;
}

.blog-section h2 {
    margin-bottom: 1em;
}

.post-abstract {
    margin-bottom: 2em;
    max-width: 500px;
}

.post-abstract footer {
    font-weight: 300;
    margin-top: -0.5em;
}

.post-abstract-description {
    font-size: 20px;
}

@media(min-width: 800px) {
    .post-abstracts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
    }
}
@media(min-width: 1200px) {
    .post-abstracts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width: 1800) {
    .post-abstracts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}