.btn-link {
    color: var(--vice-pink);
    border: 3px solid var(--vice-pink);
    padding: .5em 1em;
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
    font-family: "IBM Plex", monospace;
    transition: border 1.2s ease, color 1.2s ease;
    margin-left: 0.8vw;
    font-size: 0.8em;
    background: none;
}
.btn-link:hover {
    color: var(--vice-blue);
    border-color: var(--vice-blue);
    background: none;
}
@media(min-width: 700px) {
    .btn-link {
        font-size: 0.9em;
        padding: .5em 1.5em;
    }
}
