.hero-section {
    background-color: var(--black);
    color: var(--white);
    padding: 6vw 10vw 10vw 10vw;
    /* Downtown Miami image Copyright Sebastian Carlosena, licensed CC-BY-SA */
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: top center;
}
.hero-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.hero-subheading {
    padding-left: .8vw;
    display: inline-block;
    margin-bottom: 0.5em;
}
@media(min-width: 350px) {
    .hero-buttons {
        display: flex;
    }
}
@media(min-width: 700px) {
    .hero-subheading {
        font-size: 28px;
    }
}

