.nav-bar {
    position: fixed;
    width: 100%;
    height: var(--header-size);
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.7em;
    letter-spacing: 0.15em;
    box-shadow: 0 .01em 0 0 #e1e1e1,0 .2em .4em 0 rgba(0,0,0,.05);
    z-index: 1;
}
.nav-bar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-bar nav a {
    display: inline-block;
    margin-right: 10px;
    padding: 7px 8px 0 0;
    line-height: 0.6
}