.profile img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.profile {
    font-size: 20px;
    text-align: center;
    margin: 1em 5px 0.5em 5px;
    width: 250px;
    line-height: 1.3;
    
}
.profile p {
    margin-bottom: 0;
}
.handle {
    font-weight: 600;
    margin-top: 5px;
}
.title {
    font-size: 18px;
    
}